html {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    height: 100%;
    width: 100%;
}

.flex{display: flex;}
.justify-center{justify-content: center;}
.align-center{align-items: center;}
.grid{display: grid;}
.column{flex-direction: column;}
.center{text-align: center;}

main {
    height: 100vh;
    width: 60vw;
    margin: auto;
    background-color: aliceblue;
}

.container {
    height: 100vh;
    width: 60vw;
    margin: auto;
}

#headingText {
    margin: 0;
}
input {
    border-radius: 5px;
    
}

.block {
    display: block;
    margin: auto;
}

button {
    margin-top: 1rem;
    color: #333;
    background-color: #6FFAB0;
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: 700;
}

button:hover {
    background-color: #42BF7C;
    box-shadow: 6px 6px 2px 1px rgba(21, 95, 64, 0.2);
}


#start {
    display: none;
}

#start.visible {
    display: inline;
}

.containerButtons {
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    width: fit-content;
    margin: auto;
}

.containerButtons button {
    display: none;
    margin-top: 1rem;
}

.containerButtons button.visible {
    display: inline;
}


