html {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    
}

.flex{display: flex;}
.justify-center{justify-content: center;}
.align-center{align-items: center;}
.grid{display: grid;}
.column{flex-direction: column;}
.center{text-align: center;}

main {
    height: 100vh;
    width: 100vw;
    margin: auto;
    background: #333;
}

.container {
    height: 70vh;
    width: 50vw;
    margin: auto;
    background-color: cornflowerblue;
    border-radius: 15px;
    padding: 1.5rem;
    color: #fff;
    font-size: 20px;
}

.container:hover {
    box-shadow: 1px 3px 2px 1px rgba(197, 211, 205, 0.2);
}

#headingText {
    margin: 0;
    color: #333;
}
input {
    border-radius: 5px;
    
}

.block {
    display: block;
    margin: auto;
}

button {
    margin-top: 1rem;
    color: #333;
    background-color: #6FFAB0;
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 15px;
}

button:hover {
    background-color: #42BF7C;
    box-shadow: 6px 6px 2px 1px rgba(21, 95, 64, 0.2);
}


#start {
    display: none;
}

#start.visible {
    display: inline;
}

.containerButtons {
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    width: fit-content;
    margin: auto;
}

.containerButtons button {
    display: none;
    margin-top: 1rem;
}

.containerButtons button.visible {
    display: inline;
}

@media screen and (max-width: 900px) {
    .container {
        width: 80vw;
        padding: 2rem;
    }
}
