html {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    
}
/* reusable classes */
.flex{display: flex;}
.justify-center{justify-content: center;}
.align-center{align-items: center;}
.grid{display: grid;}
.column{flex-direction: column;}
.center{text-align: center;}

main {
    height: 100vh;
    width: 100vw;
    margin: auto;
    background: rgb(3, 15, 22);
    background-image: url(castle.jpg);
}

.container {
    height: 70vh;
    width: 50vw;
    width: 60rem;
    margin: auto;
    background:rgba(0,0 ,0, 0.7);
    border-radius: 15px;
    padding: 1.5rem;
    font-size: 20px;
    backdrop-filter: blur(7px);
    color: #fff;;
}

#headingText {
    margin: 0;
    color: #fff;
}

input {
    margin: 1rem 0;
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
    font-size: 110%;
}

input:focus {
    outline: none;
}

.block {
    display: block;
    margin: auto;
}

button {
    margin: 0;
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    border: none;
    border-radius: 4px;
    padding: 1rem;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
/* 
hover effect on buttons */
button:hover {
    background-color: rgba(255, 255, 255, .4);
    background: linear-gradient(90deg, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .3) 100%);
}


#start {
    display: none;
}

#start.visible {
    display: inline;
}

.containerButtons {
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    width: fit-content;
    margin: auto;
}

.containerButtons button {
    display: none;
}

.containerButtons button.visible {
    display: inline;
}

/* for smaller screens */
@media screen and (max-width: 1200px) {
    .container {
        width: 80vw;
        padding: 2rem;
    }
}

/* for small screens */
@media screen and (max-width: 576px) {
    main {
        align-items: stretch;
    }

    .container {
        width: auto;
        height: auto;
        margin: 0;
        border-radius: 0;
    }
    
}
